.juniper {
    textarea {
        width: 600px;
    }

    th.desc {
        width: 60%;
    }

    .red {
        color: red;
    }

    .green {
        color: green;
    }

    .progress {
        display: none;

        height: 30px;
        border: 1px solid #ddd;
        margin: 20px 0px;

        .bar {
            width: 20%;
            background-color: #2271b1;
            height: 100%;
            line-height: 30px;
            text-align: center;
            color: white;
        }
    }

    .repo-table {
        width: 100%;

        thead {
            th {
                text-align: left;
            }
        }
    }

     .text {
        input {
            width: 50%;
        }

        label {
            padding-left: 10px;
        }    
    }   

    .setting {
            
        margin-bottom: 15px;

        label {
            
        }

        p {
            max-width: 600px;
        }
    }
}
