.juniper {
    textarea {
        width: 600px;
    }

    .repo-table {
        width: 100%;

        thead {
            th {
                text-align: left;
            }
        }
    }

     .text {
        input {
            width: 50%;
        }

        label {
            padding-left: 10px;
        }    
    }   

    .setting {
            
        margin-bottom: 15px;

        label {
            
        }

        p {
            max-width: 600px;
        }
    }
}