.juniper {
    textarea {
        width: 600px;
    }

    th.desc {
        width: 60%;
    }

    .red {
        color: red;
    }

    .green {
        color: green;
    }

    .progress {
        display: none;

        height: 30px;
        border: 1px solid #ddd;
        margin: 20px 0px;

        .bar {
            width: 20%;
            background-color: #2271b1;
            height: 100%;
            line-height: 30px;
            text-align: center;
            color: white;
        }
    }

    .repo-table {
        width: 100%;

        thead {
            th {
                text-align: left;
            }
        }
    }

     .text {
        input {
            width: 50%;
        }

        label {
            padding-left: 10px;
        }    
    }   

    .setting {
            
        margin-bottom: 15px;

        label {
            
        }

        .image {
            max-width: 600px;
            display: block;
        }

        p {
            max-width: 600px;
        }
    }

    .info {
        color: red;
        margin-top: 10px;
        font-size: 10pt;
        margin-bottom: 0px;
    }

    .center {
        text-align: center;
    }
}

.issues {
    table {
        border:none;
        border-collapse: collapse;
    }
    .one-issue {
        img {
            max-width: 48px;
            float: left;
            margin-right: 5px;
        }

        td {
            vertical-align: middle;
            border: 1px solid #eee;
        }

        .name {
            line-height: 48px;
       
        }
    }
}

.releases {
    .sign-area {
        padding-bottom: 20px;
    }
    
    h2 {
        margin-top: 0px;
        padding-top: 0px;
    }

    .repo {
        margin-bottom: 0px;
        font-size: 16pt;
    }

    .repo-loc {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .one-repo {
        padding-left: 20px;
        border-left: 3px solid #ddd;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .one-repo:nth-child(even) {
       
    }
}
